// colors

$first-card-bg: hsl(31, 77%, 52%)
$second-card-bg: hsl(184, 100%, 22%)
$third-card-bg: hsl(179, 100%, 13%)
$transparent-white: hsla(0, 0%, 100%, 0.75) //paragraphs
$very-light-gray: hsl(0, 0%, 95%) //(background, headings, buttons)

.btn
  position: relative
  border-radius: 50px
  background-color: $very-light-gray
  cursor: pointer
  height: 50px
  width: 150px
