// colors

$bright-orange: hsl(31, 77%, 52%) // card-left
$dark-cyan: hsl(184, 100%, 22%) // card-middle
$very-dark-cyan: hsl(179, 100%, 13%) // card-right
$transparent-white: hsla(0, 0%, 100%, 0.75) //paragraphs
$very-light-gray: hsl(0, 0%, 95%) //(background, headings, buttons)
