@import helpers
@import typography

*
  box-sizing: border-box
  margin: 0

html h1 h2 h3 h4 btn
  background-color: $very-light-gray

body
  // position: relative
  color: $transparent-white
  height: 100vh
  background-color: $very-light-gray
  font-family: 'Lexend Deca', sans-serif
  line-height: 1.7rem

.container
  position: relative
  display: flex
  // flex-direction: row
  width: 924px
  height: 795px
  top: 10%
  left: 15%

  .card
    padding: 50px 60px
    height: 499px
    // position: relative
    &:first-child
      background-color: $first-card-bg
      border-radius: 5px 0 0 5px
    &:nth-child(even)
      background-color: $second-card-bg
    &:last-child
      background-color: $third-card-bg
      border-radius: 0 5px 5px 0
    h1
      font-family: 'Big Shoulders Display', sans-serif
      font-size: 2rem
      text-transform: uppercase
      padding: 2rem 0
    .btn-sedan
      color: $first-card-bg
      &:hover
        background-color: $first-card-bg
        color: $very-light-gray
    .btn-suv
      color: $second-card-bg
      &:hover
        background-color: $second-card-bg
        color: $very-light-gray
    .btn-luxury
      color: $third-card-bg
      &:hover
        background-color: $third-card-bg
        color: $very-light-gray

// Mobile
@media screen and (max-width: 375px)
  body
    overflow: auto

  .container
    display: flex
    position: relative
    width: 100vw
    top: 0
    left: 0
    flex-direction: row
    flex-wrap: wrap
    margin: 0
    padding: 0
    background-color: #fff
  .card:first-child()
    background-color: purple
